.login-container {
    background-color: rgba(var(--asuna-background-rgb), 0.7);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
}

#mask {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    backdrop-filter: blur(5px);
    /*opacity: var(--mask-opacity);*/
    /*background: linear-gradient(0deg, var(--color-background), var(--color-background));*/
}