.main-container {
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;
}


.project-row {
    background-color: var(--asuna-background);
    border: 1px solid var(--asuna-border);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}