{% extends "base_apps.html" %}

{% block title %}Project list{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Project list</h1>
    <a href="{% url 'apps_create_project' %}" class="btn btn-primary"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Create new project</a>
    <p></p>
    {% if projects %}
        {% for project in projects %}
            <div class="row m-2 project-row">
                <div class="col-1">
                    <i class="mdi mdi-folder" aria-hidden="true" style="font-size: 50px"></i>
                </div>
                <div class="col-11">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    <a href="{% url 'apps_project_detail' project.id %}" class="btn btn-primary">Open project</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You have no projects yet, let's <a href="{% url 'apps_create_project' %}">create one now</a>!</p>
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}